* {
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --body-font: 'Fira Sans Extra Condensed','Dancing Script', sans-serif, cursive;
  --title-font: 'Fira Sans Extra Condensed', sans-serif;

}



html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background: #E4DDDC;
  

}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 1.6;
/*   max-width: 1024px;
  min-width: 360px; */
}
h1,
h2,
p {
  margin: 0;
}

img {
  max-width: 60%;
/*   min-width: 0%; */
  height: auto;
  display: inline-block;
}
.icon { 
  max-width: 40%;
  min-width: 40%;
  object-fit: contain;
  height: 20%;
  width: 20%;
/*   margin: 0 auto;
  position: center; */
  display: center;
}

.nav__menu {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #1E1D1D;
  display: flex;
  justify-content: center;
  align-items: center; 
  box-sizing: border-box;
  height: 80px;
  padding: 20px;
  white-space: nowrap;
}

.phone {
  max-width: 30px;
  max-height: 30px;
}

.email {
  max-width: 30px;
  max-height: 30px;
}

ul.nav__list li {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  justify-content: center; 
  text-align: center;
  display: inline-block;
}

ul.nav__list li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

.nav__item {
  display: inline-block;
  text-align: center;
}

.nav__item a:hover {
  border-bottom: 3px solid #9D3D2E;
}
.home_container{
  padding: 20px 10px 0px 0px;
}
.services-section{
  padding: 20px;
  
}
.services {
  border-radius: 12px;
}

.services-full-list {
  border-radius: 12px;

  }

.contact-section{
  padding: 15px 10px;
}

.contact__text{
  background-color: #9D3D2E;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  margin: 10px;
  
}
.contact__text:hover{
  background-color: #495658;
  transition-duration: 0.7s;
}

.pictures-section {
  padding-top: 20px;
}

.picture-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  
}

.picture-container img {
  width: calc(25% - 10px);
  margin-bottom: 10px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

.picture-container img:last-child {
  margin-right: 0;
}



footer {
  display: flex;
  background-color: #1E1D1D;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;

}

.yelp-logo {
  width: 50px;
}

.social_media{
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}


.review { 
  padding: 16px;
  display: inline-block;
  border-bottom: 3px solid #9D3D2E;
}